.navbar-brand img {
  height: 1.5rem;
}

#mainNav .navbar-toggler {
  color: #fff;
  /* padding: 0.75rem; */
  font-size: 0.75rem;
  background-color: #fed136;
  border: 0;
  font-family: "Montserrat", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  text-align: center;
}

.material-icons {
  vertical-align: -.350em;
}

.carousel-inner img {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;

}

.masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}

.btn-x1 {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.carousel-inner {
  position: relative;
}

.bg-text {
  font: italic;
  position: absolute; 
  bottom: 100px;
  width: 100%;
  padding: 30px;
  color: #fff;
  background: rgba(0, 0, 0, .6);
}

.bg-text > h1 {
  margin: 0;
  font-size: 150%;
  text-align: center;
}

#target {
  width: 550px;
  height: 250px;
  margin: 100px auto;
}
