

.backgrond-color{
	background-color: rgb(46, 44, 44);
}

h4{
	color: blanchedalmond;
}

.section-heading{
	padding-top: 30px;
}

.page-section {
    padding: 7rem 0;
}

section {
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}


.card img{
	height: 200px;
	padding-right: 1px;
}


.card-body{
	height: 190px;
}


.col-md-4{
	margin-top: 30px;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #343839;
	color: aliceblue;
	margin-top:50px;
	height: 350px;
}


.form .name {
	margin-bottom: 20px;
}

.form .email {
	margin-bottom: 20px;
}


#sendMessageButton{
	margin-top: 20px;
}


input.name,.email,.inquiry{
	width: 300px;
}


.Copyright{
	color: white;
	text-align: center;
	margin-bottom: 0px;
}


@media (min-width: 992px){
	.card img{
	width: 289px;
	height: 200px;
}

.contact{
	display: flex;
	justify-content: center;
}

input.name,.email,.inquiry{
	width: 400px;
}

.card-body{
	height: 215px;
}

}







